:root {
  color: #ffffff;
  background: #08060d;
}

body {
  margin: 0;
}

#center {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}
